.auc-modal {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

  .modal-content {
    background-color: #f7f7f7;
    width: 400px;
    position: fixed;
    z-index: 100001;
    left: calc(50% - 220px);
    top: 100px;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    border: 2px solid #ca4a1f;
    border-radius: 5px;
  }

  .modal-body {
    display: flex;

    .icon {
      width: 100px;
      margin: 0;
      padding: 0;

      .dashicons {
        font-size: 60px;
        color: #ca4a1f;
      }
    }

    p {
      font-size: 14px;
      margin: 0 0 1em 0;
      line-height: 1.5;
    }

    p:last-child {
      margin: 0;
    }
  }
}

.post-type-maintenance.post-new-php,
.post-type-maintenance.post-php {
  .ui_tpicker_second, .ui_tpicker_second::before {
    display: none !important;
  }
}