#wpadminbar #wp-admin-bar-notifications {
	background: #ca4a1f;
	.ab-item {
		display: flex;
		align-items: center;
		&::before {
			display: block;
			content: "\f348";
			margin-right: 6px;
			font: 20px/1 dashicons !important;
			color: #fff;
		}
	}
}
@media (max-width: 600px) {
	#wpadminbar .quicklinks #wp-admin-bar-notifications {
		.ab-item {
			&::before {
				margin: 0;
				font-size: 40px !important;
			}
			span {
				display: none;
			}
		}
	}
}
